@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Link del repositorio del estudian <a href="https://github.com/Alex-Caicedo-R384/AlexCaicedoRamos_EjercicioCF2.git">Alex Caicedo</a>.</p>
</div>
